.countdownContainer {
  display: flex;
  gap: 1rem;

  .countdown {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(1, 18, 30);
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    h4 {
      font-size: 1.8rem;
    }

    span {
      font-size: 1rem;
    }
  }
}
